
.input-label {
  padding-left: 5px;
  padding-right: 5px;
}

.hidden {
  display: none;
}

.tt-dataset-departureAirports {
  cursor: default;
}

h2 {
  margin-top: 5px;
}

h3 {
  font-size: 14px;
  font-weight: bolder;
}

th {
  text-align: left;
}

.input-append,.input-prepend{
  font-size: 16px;
}

.input-table th, .input-table td { 
  border-top: none !important; 
}

table {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  width: auto !important;
}

.first-input-column {
  min-width: 150px;
}

.second-input-column {
  min-width: 300px;
}

.first-column {
  min-width: 150px;
}

.second-column, .third-column {
  min-width: 200px;
}

@media (max-width: 700px) {
  .hidden-700 {
    display:none !important;
  }
}

@media (min-width: 700px) {
  .display-700 {
    display:none !important;
  }
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.module {
  width:90%;
  margin: 10px auto;
}

.container {
  min-height: 100%;
  /* Create room for footer */
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

.footer {
  height: 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.typeahead-airport-name {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.typeahead-airport-state {
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.typeahead-airport-country {
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  
}
.typeahead-dropdown-title {
  padding-left: 5px;
  padding-right: 5px;
}
.twitter-typeahead{
     width: 97%;
}
.tt-dropdown-menu{
    width: 102%;
}

.tt-cursor{
    color:#f1b218;
}

