
.input-label {
  padding-left: 5px;
  padding-right: 5px;
}
.empty-message {
  padding-left: 5px;
  padding-right: 5px;
}
.hidden { display: none; }

.tt-dataset-departureAirports { cursor: default; }
.tt-dataset-arrivalAirports { cursor: default; }

h2 { margin-top: 5px; }

h3 {
  font-size: 14px;
  font-weight: bolder;
}

th { text-align: left; }
.ui-autocomplete { 
    max-height:200px; 
    max-width: 236px; 

    /* note that x is hidden now */
    overflow-x:hidden;
    overflow-y:scroll;
}

.input-append,.input-prepend{ font-size: 16px; }
.input-table th, .input-table td { border-top: none !important; }

/* Table display of the result data */
table {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  width: auto !important;
}

/* Column Widths */
.first-input-column { min-width: 150px; }
.second-input-column { min-width: 300px; }
.first-column { min-width: 150px; }
.second-column, .third-column { min-width: 200px; }

/* Add a bit of responsiveness */
@media (max-width: 700px) {
  .hidden-700 {
    display: none !important;
  }
}
@media (min-width: 700px) {
  .display-700 {
    display: none !important;
  }
}

input::-webkit-calendar-picker-indicator { display: none; }

.module {
  width:90%;
  margin: 10px auto;
}

/* General webpage container styles */
.container {
  min-height: 100%;
  /* Create room for footer */
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

/* Styles for webpage footer */
.footer {
  height: 40px;
  background-color: #f5f5f5;
  text-align: center;
}
